doctype html

html
  head
    title Dismoi - Profiles
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='180x180' href=webpackConfig.output.publicPath + '/img/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href=webpackConfig.output.publicPath + '/img/logo/32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href=webpackConfig.output.publicPath + '/img/logo/16x16.png')
    link(rel='mask-icon' href=webpackConfig.output.publicPath + '/img/logo/bulles-black.svg' color='#0c52b4')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='theme-color' content='#ffffff')
  body
    div(id='root')
    script(src=webpackConfig.output.publicPath + '/js/profiles.bundle.js')
